{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}

{% block main %}

    <script>
        function AbrirDialogoExclusao(param) {
            $('#form-confirm-delete').attr('action', param)
            $('#modalConfirmExclusao').modal('show')
        }
    </script>

    <div class="row">
        <div id="form-principal" class="col-12">
            <form method="post">
                <div id="form">
                    {% csrf_token %}
                    {{ form|bootstrap }}
                </div>
                <hr>
                <button type="submit" class="btn btn-info mt-2">Salvar</button>
                {% if form.instance.id > 0 %}
                    <button type="button" class="btn btn-danger mt-2" onclick="AbrirDialogoExclusao('{% url 'delete_produto' form.instance.id %}')">Excluir</button>
                {% endif %}
            </form>
        </div>
    </div>

    <div id="modalConfirmExclusao" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title">Confirmação</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
                <div class="modal-body">
                    <p>Tem certeza que deseja remover o registro?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form id="form-confirm-delete" action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Excluir</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}